/checkinReminder-chrome/images
/checkinReminder-chrome/checkinReminder-chrome.zip
/checkinReminder-firefox/checkinReminder-firefox.zip
/checkinReminder-firefox/basecamp.jpg
checkinReminder-chrome.crx
checkinReminder-chrome.pem
